/* CSS da página de cadastro, o maior e mais bem elaborado devido as animações do botão de seleção
   e da 'troca' de posição dos inputs 
*/

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #094623, #4aa06c);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* LOADER DE BARRAS */

.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.1s;
}
.loading-bar:nth-child(3) {
    animation-delay: 0.2s;
}
.loading-bar:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
    0% {
     height: 10px;
    }
    50% {
     height: 50px;
    }
    100% {
     height: 10px;
    }
}

/* ----------------------------------------------------------------------------- */

/* TELA DE CARREGAMENTO TROCA DE CONTAINER */

.telacarregamento {
background: white;
padding: 20px;
border-radius: 15px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
animation: fadeIn 1s ease-in-out;
overflow: hidden;
text-align: center;
}

/* ------------------------------------------------------------------------------ */


.container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
    overflow: hidden;
}

/* AREA DA NOTIFICAÇÃO */
.notification{
    background-color: #ffca1d;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification p{
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.notification.show {
    opacity: 1;
}
.notification.hidden {
    display: none;
}
/* FIM DA AREA NOTIFICAÇÃO */


h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    animation: fadeInInput 0.5s ease;
    transform-origin: top;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #e5bb2c;
    outline: none;
    box-shadow: 0 0 10px rgba(170, 180, 19, 0.651);
}

button {
    width: 100%;
    padding: 12px;
    background: #e5bb2c;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: #a3800e;
    transform: scale(1.05);
}

.hidden {
    display: none;
}

/* HABILITAR / DESABILITAR COR DO BOTAO CADASTRAR */
button#start-capture {
    background: #ffffff;
    color: #cccccc;
    cursor: not-allowed;
}

/* Quando o botão é habilitado */
button#start-capture:enabled {
    background: #e5bb2c;
    color: black;
    cursor: pointer;
}
/* ============================================== */

/* Animação de fade-in dos inputs */
@keyframes fadeInInput {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
